################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimplifiedSlotMachine/SimplifiedSlotMachine.GameModel/obj
/SimplifiedSlotMachine/SimplifiedSlotMachine.DataModel/obj
/SimplifiedSlotMachine/SimplifiedSlotMachine.DataModel/bin/Debug/net6.0
/SimplifiedSlotMachine/obj
/SimplifiedSlotMachine/.vs/SimplifiedSlotMachine/FileContentIndex
/SimplifiedSlotMachine/GameModel.Abstract/bin/Debug/net6.0
/SimplifiedSlotMachine/GameModel.Abstract/obj
/SimplifiedSlotMachine/SimplifiedSlotMachine.GameModel/bin/Debug/net6.0
/.vs/J-API-Demos/FileContentIndex
/SimplifiedSlotMachine.UnitTests/bin
/SimplifiedSlotMachine.UnitTests/obj
/SimplifiedSlotMachine/SimplifiedSlotMachine.UnitTests/bin
/SimplifiedSlotMachine/SimplifiedSlotMachine.UnitTests/obj
/SimplifiedSlotMachine/.vs/SimplifiedSlotMachine/v17/TestStore/0
/SimplifiedSlotMachine/.vs/SimplifiedSlotMachine/DesignTimeBuild/.dtbcache.v2
